form {
    width: 520px;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid;
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}